<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LM_U4_T2:_CSS_Layou</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <header>
            <img src="img/logo.png" alt="Logo de Aventura&Cia">
            <div class="parrafo">
                <p id="titulo">[Guia] 10 Lugares para um final de semana de Aventura!</p>
                <p id="subtitulo">Conheça dicas de lugares para quem busca contato com a natureza.</p>
            </div>
        </header>
        <section>  
            <article class="colizq">
                <img src="img/1140x465.jpg" alt="Ofertas de verano">

            </article>

            <article class="colder">
                <div class="caja">
                    <div class="formulario">

                    </div>
                    
                </div>

            </article>
        </section>


    </div>
    
</body>
</html>